<div id="email-template-2" style="width: {{ templateBodyWidth }}; background-color: {{ templateBodyBackgroundColor }};">

	<p style="color: {{ templateTextColor }};">Hello there nice person</p>

</div>