{% extends "_layouts/cp" %}
{% hook 'formBuilder2.prepCpTemplate' %}

{% set selectedSubnavItem = "templates" %}
{% set bodyClass = 'formbuilder fb-templates' %}
{% set page = 'Templates' %}

{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block main %}
  
  <section id="fb-content">
    <header class="section-header">
      <div id="page-title"><h1>{{ page|t }}</h1></div>
    </header>

    <div class="template-list">
        {% for template in templates %}

        <div class="item">
            <h2>{{ template.name }}</h2>
            <p>{{ template.handle }}</p>
            <a href="{{ url('formbuilder2/templates/' ~ template.id ~ '/edit') }}">Edit</a>
        </div>

        {% endfor %}
    </div>

  </section>

{% endblock %}

{% includeJsResource "formbuilder2/js/templates.js" %}

{% set js %}
	new Craft.EmailTemplates();
{% endset %}
{% includeJs js %}

