/* ============================================ *
 * Forms
 * ============================================ */

.fb-forms {

  // No Forms 
  .no-forms {
    text-align: center;
    padding: 90px 0 300px 0;
    p {
      font-weight: 700;
      font-size: 18px;
      color: $c-gray;
    }
  }
  // buttons
  .create-form-button {
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: .1em;
    color: $c-lightGray;
    margin: 0 auto;
    padding: 30px 30px 25px 30px;
    border: 1px solid rgba(white, .2);
    border-radius: 5px;
    outline: none;
    background: #dfdfdf;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all .3s ease);
    &:hover {
      background: $c-teal;
      color: white;
    }
    span {
      display: block;
      text-align: center;
    }
    svg {
      display: block;
      margin: 0 auto 10px auto;
      @include size(50px);
      * { @include transition(all .3s ease); fill: white; }
    }
  }
  
  // Forms
  .forms {
    min-height: 600px;
    &.pane { padding: 0 !important; }
    thead tr:hover { background: white; }
    th {
      padding: 20px;
    }
    tr {
      @include transition(all .3s ease);
      &:hover {
        background: darken(white, 2);
      }
      td {
        padding: 12px 20px;
        &.name a, &.handle, &.count {
          color: $c-blue;
          font-family: $opensans;
        }
        &.handle {
          font-weight: 400;
        }
        &.name a {
          text-decoration: none;
          font-weight: 600;
          &:hover { color: $c-teal; }
        }
        &.action {
          svg {
            cursor: pointer;
            margin-right: 4px;
            * { fill: $c-blue; @include transition(all .3s ease); }
            &:hover {
              * { fill: $c-teal; }
            }
          }
        }
      }
    }
  }
}

.fb-new-form {

  .menu-tabs {
    margin-bottom: 10px;
    h2 {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      padding: 0 5px;
      @include antialias;
      &:first-child { padding-left: 0; }
      &.current a {
        padding-bottom: 4px;
        color: $c-blue;
        border-bottom: 1px solid $c-teal;
      }
    }
    a {
      display: block;
      color: rgba($c-blue, .7);
      padding-bottom: 5px;
      font-family: $opensans;
      text-decoration: none;
      &:hover {
        color: $c-blue;
      }
    }
  }

  .tab-content {
    display: none;
  }
  #form-settings {
    display: block;   
  }
}