{% extends "_layouts/cp" %}
{% hook 'formBuilder2.prepCpTemplate' %}
{% includeJsResource "formbuilder2/js/dashboard.js" %}

{% set selectedSubnavItem = "dashboard" %}
{% set bodyClass = 'formbuilder fb-dashboard' %}
{% set page = 'Dashboard' %}

{% set entriesCount = craft.formBuilder2.totalEntries() %}

{% set forms = craft.formBuilder2.forms({
    limit: -1,
    order: 'dateCreated desc'
}) %}

{% block pageHeader %}
    {% include 'formbuilder2/_includes/_header' ignore missing with { title: "Dashboard" } %}
{% endblock %}

{% block main %}

    <section class="dashboard-container">
        
        <div class="dashboard-counters grid">
            {% include 'formbuilder2/dashboard/_counter-tout' ignore missing with {
                theme: 'moss',
                title: "Forms" |t,
                count: forms |length
            } %}

            {% include 'formbuilder2/dashboard/_counter-tout' ignore missing with {
                theme: 'moss',
                title: "Entries" |t,
                count: entriesCount
            } %}

            {% include 'formbuilder2/dashboard/_includes/_plugin-info' ignore missing %}
        </div>

    </section>
{% endblock %}