{% set tempFiles = templateLayouts %}
{% set templateOptions = [{label: 'Select Template Layout', value: '0'}] %}
{% for temp in tempFiles %}
  {% set templateOptions = templateOptions|merge([{ label: temp.fileName, value: temp.fileOriginalName }]) %}
{% endfor %}

{{ forms.selectField({
  id: 'templateLayout',
  name: 'templateLayout[fileOriginalName]',
  options: templateOptions ? templateOptions : '',
  value: (template.templateLayout.fileOriginalName is defined ? template.templateLayout.fileOriginalName : null),
  errors: template.getErrors('fileOriginalName'),
  required: true
}) }}

<input type="hidden" name="templateLayout[fileNameCleaned]" value="">
<input type="hidden" name="templateLayout[fileExtension]" value="">
<input type="hidden" name="templateLayout[filePath]" value="">
<input type="hidden" name="templateLayout[fileContents]" value="">


<div class="field">
    <div class="heading">
        <label for="templateLayoutBackgroundColor">{{ "Template Layout Background Color"|t }}</label>
        <div class="instructions"><p>{{ "Template layout background color for the tempalte."|t }}</p></div>
    </div>
    <div class="input">
        {{ forms.color({
          id: 'templateLayoutBackgroundColor',
          class: 'templateLayoutBackgroundColor',
          name: 'templateSettings[templateLayoutBackgroundColor]',
          value: (templateSettings.templateLayoutBackgroundColor is defined ? templateSettings.templateLayoutBackgroundColor : '#ffffff'),
          size: 50,
          errors: template.getErrors('templateBodyBackgroundColor'),
        }) }}
    </div>
</div>