<section class="template-tout counter-tout theme-white item" data-colspan="1">
    <div class="wrapper">
        <main>
            <div class="tout-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64.001" viewBox="0 0 64 64.001">
                  <path d="M60 0H4C1.791 0 0 1.791 0 4v56.001c0 2.208 1.791 4 4 4h56c2.209 0 4-1.792 4-4V4c0-2.209-1.791-4-4-4z" fill="#48A0DC"/>
                  <path d="M18 24H6c-1.104 0-2 .896-2 2v32.001c0 1.104.896 2 2 2h12c1.104 0 2-.896 2-2V26c0-1.104-.896-2-2-2zm40-12H6c-1.104 0-2 .896-2 2v4c0 1.104.896 2 2 2h52c1.104 0 2-.896 2-2v-4c0-1.104-.896-2-2-2zM38 24H26c-1.104 0-2 .896-2 2v32.001c0 1.104.896 2 2 2h12c1.104 0 2-.896 2-2V26c0-1.104-.896-2-2-2zm20 0H46c-1.105 0-2 .896-2 2v32.001c0 1.104.895 2 2 2h12c1.104 0 2-.896 2-2V26c0-1.104-.896-2-2-2zM6 4c-1.104 0-2 .896-2 2.001s.896 2 2 2 2-.896 2-2S7.104 4 6 4zm6 0c-1.104 0-2 .896-2 2.001s.896 2 2 2 2-.896 2-2S13.104 4 12 4zm6 0c-1.104 0-2 .896-2 2.001s.896 2 2 2 2-.896 2-2S19.104 4 18 4z" fill-rule="evenodd" clip-rule="evenodd" fill="#FFF"/>
                </svg>
            </div>
            <span class="tout-title">{{ "Custom Email Templates" |t }}</span>

            <p class="tout-copy">{{ "Build custom email templates that fit close to your brand." |t }}</p>

            <a href="{{ url('formbuilder2/templates/new') }}" class="btns btn-info submit">{{ "Create New Template" |t }}</a>
        </main>
    </div>
</section>