<section class="cmp-tout section-collapsible">
    <header>
        <div class="titlebar">
            <span class="tout-title">{{ "Admin Notification" |t }}</span>
            <div class="preview"></div>
        </div>
        <div class="actions">
            {% if form.notificationSettings.notifySubmission %}
                <div class="status on" title="Enabled"></div>
            {% else %}
                <div class="status off" title="Disabled"></div>
            {% endif %}

            <a class="icons collapser" title="Actions" role="combobox" tabindex="0"></a>
            <a class="icons settings" title="Actions" role="combobox" tabindex="0"></a>

            <div class="menu">
                <ul class="padded">
                    <li {% if not form.notificationSettings.notifySubmission %}class="hidden"{% endif %}><a data-action="disable"><span class="status off"></span>
                        {{ "Disable"|t }}
                    </a></li>
                    <li {% if form.notificationSettings.notifySubmission %}class="hidden"{% endif %}><a data-action="enable"><span class="status enabled"></span>
                        {{ "Enable"|t }}
                    </a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="fields notification-fields">
        {% include 'formbuilder2/forms/_includes/email-settings/notify-admin' ignore missing %}
    </div>
</section>