<div class="option-item styles-item">
    <span class="option-title">
        <span class="option-text">{{ "Container Padding" |t }}</span>
    </span>
    <div class="option-actions">
        <input id="templateContainerPadding" name="styles[container][padding]" type="range" min="5" max="100" step="5" value="{{ template.styles.container.padding is defined ? template.styles.container.padding : '60' }}" />
    </div>
</div>