@charset "UTF-8";
/* ============================================ *
 * Name: FormBuilder 2
 * Description: Easy Form & Survey Builder
 * Category: Craft CMS PLugins
 * Technologies: HTML5, CSS3, jQuery, Coffeescript, SCSS
 * Version: 0.1
 * Author: Vadim Goncharov (@owldesign)
 * Date: 10.7.15
 * ============================================ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,300);
/* ============================================ *

 |  ____|                     |  _ \        (_)| |    | |          |__ \ 
 | |__  ___   _ __  _ __ ___  | |_) | _   _  _ | |  __| |  ___  _ __  ) |
 |  __|/ _ \ | '__|| '_ ` _ \ |  _ < | | | || || | / _` | / _ \| '__|/ / 
 | |  | (_) || |   | | | | | || |_) || |_| || || || (_| ||  __/| |  / /_ 
 |_|   \___/ |_|   |_| |_| |_||____/  \__,_||_||_| \__,_| \___||_| |____|

* ============================================ */
.formbuilder a {
  text-decoration: none;
  outline: none; }
.formbuilder #page-header {
  padding: 40px 60px;
  background-color: #fafbfc;
  justify-content: flex-start;
  align-items: center; }
  .formbuilder #page-header h1 {
    color: #4A4A4A;
    font-family: 'Roboto';
    font-weight: bold;
    margin: 0 0 0 20px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility; }
.formbuilder #nav-formbuilder2 {
  overflow: hidden;
  background-color: #43545d; }
  .formbuilder #nav-formbuilder2 a.sel {
    background-color: #4e616c; }
  .formbuilder #nav-formbuilder2 .subnav li {
    position: relative; }
    .formbuilder #nav-formbuilder2 .subnav li:after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      bottom: auto;
      left: auto;
      height: auto;
      width: auto;
      margin-top: -9px;
      padding: 0 7px;
      border-radius: 5px;
      background-color: #4da1ff;
      text-align: center;
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 9px;
      letter-spacing: 0.04em;
      color: #ffffff;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility; }
    .formbuilder #nav-formbuilder2 .subnav li:nth-child(1) a:before {
      content: "gauge"; }
    .formbuilder #nav-formbuilder2 .subnav li:nth-child(2) a:before {
      content: "field"; }
    .formbuilder #nav-formbuilder2 .subnav li:nth-child(3) a:before {
      content: "categories"; }
    .formbuilder #nav-formbuilder2 .subnav li:nth-child(4) a:before {
      content: "section"; }
    .formbuilder #nav-formbuilder2 .subnav li:nth-child(5) a:before {
      content: "settings"; }
    .formbuilder #nav-formbuilder2 .subnav li:hover a:before {
      opacity: 1; }
    .formbuilder #nav-formbuilder2 .subnav li:hover a:after {
      right: -2px;
      opacity: 0.4; }
    .formbuilder #nav-formbuilder2 .subnav li a.sel:before {
      opacity: 1; }
    .formbuilder #nav-formbuilder2 .subnav li a.sel:after {
      right: -1px; }
    .formbuilder #nav-formbuilder2 .subnav li a.sel:hover:after {
      right: -1px;
      opacity: 1; }
    .formbuilder #nav-formbuilder2 .subnav li a:after {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      right: -5px;
      bottom: 0;
      left: auto;
      height: 70%;
      width: 5px;
      background-color: #a6e50f;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .formbuilder #nav-formbuilder2 .subnav li a:before {
      position: absolute;
      margin-left: -26px;
      opacity: .4;
      font-family: 'Craft';
      speak: none;
      -webkit-font-feature-settings: "liga", "dlig";
      -moz-font-feature-settings: "liga=1, dlig=1";
      -moz-font-feature-settings: "liga", "dlig";
      -ms-font-feature-settings: "liga", "dlig";
      -o-font-feature-settings: "liga", "dlig";
      font-feature-settings: "liga", "dlig";
      text-rendering: optimizeLegibility;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      text-align: center;
      font-style: normal;
      vertical-align: middle;
      word-wrap: normal !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
.formbuilder .fb-hud .main {
  padding: 0; }
.formbuilder .fb-hud .form-item-menu li {
  transition: background-color .3s ease; }
  .formbuilder .fb-hud .form-item-menu li:hover {
    background-color: #F4F7F9; }
.formbuilder .fb-hud .form-item-menu a {
  display: block;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #323C47;
  padding: 15px 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }
  .formbuilder .fb-hud .form-item-menu a svg {
    vertical-align: middle;
    margin-right: 10px; }
.formbuilder .menu .status.on, .formbuilder .menu .status.enabled {
  background-color: #a6e50f; }
.formbuilder .menu .status.off, .formbuilder .menu .status.disabled {
  background-color: #ff6d4a; }
.formbuilder .menu a {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.04em;
  color: #323C47; }
  .formbuilder .menu a:hover {
    background-color: #F4F7F9; }

.formbuilder.fb-dashboard #main {
  background-color: #fafbfc; }
  .formbuilder.fb-dashboard #main > .padded {
    padding: 0; }
.formbuilder.fb-dashboard .dashboard-container {
  padding: 40px 60px; }

.formbuilder.fb-forms #page-header .btns {
  margin-left: auto; }
.formbuilder.fb-forms #main {
  background-color: #fafbfc; }
.formbuilder.fb-forms .forms-container {
  padding: 20px 60px 60px 60px;
  background-color: #fafbfc; }
  .formbuilder.fb-forms .forms-container thead th {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #989898;
    background-color: #F4F7F9;
    letter-spacing: 0.04em;
    padding: 16px 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility; }
    .formbuilder.fb-forms .forms-container thead th:nth-child(2) {
      text-align: left; }
    .formbuilder.fb-forms .forms-container thead th:first-child {
      border-top-left-radius: 5px; }
    .formbuilder.fb-forms .forms-container thead th:last-child {
      border-top-right-radius: 5px; }
  .formbuilder.fb-forms .forms-container tbody tr:hover td.name a {
    color: #4da1ff; }
  .formbuilder.fb-forms .forms-container tbody tr:hover .icon.move svg {
    opacity: 1; }
  .formbuilder.fb-forms .forms-container tbody tr:last-child td {
    border: none; }
  .formbuilder.fb-forms .forms-container tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px; }
  .formbuilder.fb-forms .forms-container tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px; }
  .formbuilder.fb-forms .forms-container tbody td {
    font-family: 'Roboto';
    font-size: 14px;
    padding: 16px 0;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    border-bottom: 1px solid #E9EFF4; }
    .formbuilder.fb-forms .forms-container tbody td.dragsort {
      text-align: center;
      width: 60px; }
    .formbuilder.fb-forms .forms-container tbody td.form-actions {
      text-align: center; }
    .formbuilder.fb-forms .forms-container tbody td.name a {
      font-weight: bold;
      color: #323C47;
      transition: color .3s ease; }
    .formbuilder.fb-forms .forms-container tbody td.updated, .formbuilder.fb-forms .forms-container tbody td.count {
      color: #989898;
      text-align: center; }
  .formbuilder.fb-forms .forms-container .icon.move svg {
    opacity: .3;
    transition: opacity .3s ease; }
  .formbuilder.fb-forms .forms-container .icon.move:hover svg {
    opacity: 1; }
  .formbuilder.fb-forms .forms-container .icon.move:before {
    display: none !important; }
.formbuilder.fb-forms .datatablesorthelper .icon.move:before {
  display: none; }
.formbuilder.fb-forms .datatablesorthelper td {
  font-family: 'Roboto';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }
.formbuilder.fb-forms .datatablesorthelper td.dragsort {
  text-align: center; }
.formbuilder.fb-forms .datatablesorthelper td.name a {
  font-weight: bold;
  color: #4da1ff; }
.formbuilder.fb-forms .datatablesorthelper td.updated, .formbuilder.fb-forms .datatablesorthelper td.count {
  color: #989898; }

.formbuilder.fb-edit-form #main {
  background-color: #fafbfc; }
  .formbuilder.fb-edit-form #main > .padded {
    padding: 0 60px 60px 60px; }
.formbuilder.fb-edit-form .form-options-tout .body, .formbuilder.fb-edit-form .spam-protection-tout .body {
  padding: 0; }
.formbuilder.fb-edit-form .option-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #E9EFF4;
  padding: 20px; }
  .formbuilder.fb-edit-form .option-item:last-child {
    border-bottom: none; }
  .formbuilder.fb-edit-form .option-item .option-text {
    font-family: 'Roboto';
    font-weight: 500;
    color: #595D66; }
  .formbuilder.fb-edit-form .option-item .option-result {
    display: block;
    font-size: 10px; }
    .formbuilder.fb-edit-form .option-item .option-result svg {
      width: 10px;
      margin-right: 4px;
      vertical-align: middle; }
  .formbuilder.fb-edit-form .option-item .option-actions {
    display: flex;
    flex-direction: row;
    margin-left: auto; }
  .formbuilder.fb-edit-form .option-item .option-edit {
    display: inline-block;
    padding: 10px;
    margin-right: 10px; }
    .formbuilder.fb-edit-form .option-item .option-edit svg {
      vertical-align: middle; }
    .formbuilder.fb-edit-form .option-item .option-edit:hover svg * {
      fill: #4da1ff; }
  .formbuilder.fb-edit-form .option-item .toggle-option {
    background-color: #c8d2d8; }
  .formbuilder.fb-edit-form .option-item.option-enabled .option-actions .btns {
    background-color: #a6e50f; }
.formbuilder.fb-edit-form .delete-form-meta {
  box-shadow: none;
  border: none; }
  .formbuilder.fb-edit-form .delete-form-meta .delete-form {
    display: block;
    text-align: center; }
.formbuilder.fb-edit-form .field-heading.sub-heading {
  background-color: #f4f5f6;
  color: #555555;
  font-size: .8em;
  min-height: auto;
  padding: 8px auto;
  text-transform: uppercase;
  border-top: 1px solid #e3e5e8; }
  .formbuilder.fb-edit-form .field-heading.sub-heading.first {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
.formbuilder.fb-edit-form .titlebar {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .formbuilder.fb-edit-form .titlebar .preview {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    margin-left: 10px; }
.formbuilder.fb-edit-form .actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .formbuilder.fb-edit-form .actions .status {
    height: 10px;
    width: 10px;
    margin-right: 20px; }
    .formbuilder.fb-edit-form .actions .status.off {
      background-color: #ff6d4a; }
    .formbuilder.fb-edit-form .actions .status.on {
      background-color: #a6e50f; }
  .formbuilder.fb-edit-form .actions .settings.icon {
    color: #637c8a; }
  .formbuilder.fb-edit-form .actions .icons {
    display: inline-block;
    padding: 15px 0;
    height: 48px;
    width: 48px;
    text-align: center;
    color: #637c8a;
    border-left: 1px solid #E9EFF4;
    box-sizing: border-box; }
    .formbuilder.fb-edit-form .actions .icons:hover {
      background-color: #E9EFF4; }
    .formbuilder.fb-edit-form .actions .icons:after {
      font-family: 'Craft';
      speak: none;
      -webkit-font-feature-settings: "liga", "dlig";
      -moz-font-feature-settings: "liga=1, dlig=1";
      -moz-font-feature-settings: "liga", "dlig";
      -ms-font-feature-settings: "liga", "dlig";
      -o-font-feature-settings: "liga", "dlig";
      font-feature-settings: "liga", "dlig";
      text-rendering: optimizeLegibility;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      text-align: center;
      font-style: normal;
      vertical-align: middle;
      word-wrap: normal !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .formbuilder.fb-edit-form .actions .collapser:after {
    content: '▼'; }
  .formbuilder.fb-edit-form .actions .settings:after {
    content: 'settings'; }
.formbuilder.fb-edit-form .section-collapsible:not(.collapsed) .collapser:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.formbuilder.fb-edit-form .setup-container {
  display: flex;
  flex-direction: row; }
  .formbuilder.fb-edit-form .setup-container > div {
    flex: 1;
    margin: 20px;
    border: 1px solid #E9EFF4;
    border-radius: 5px;
    height: 100%; }

.formbuilder.fb-entries .section-header {
  display: none; }
.formbuilder.fb-entries .pane {
  background-color: #fafbfc; }
.formbuilder.fb-entries #sidebar {
  background-color: #ffffff;
  padding: 0 0 0 20px; }
  .formbuilder.fb-entries #sidebar .sel {
    background-color: #637c8a; }
.formbuilder.fb-entries .chart-explorer-container .chart-explorer {
  background-color: #F4F7F9; }
.formbuilder.fb-entries .chart-explorer-container .total > div {
  display: inline;
  font-family: 'Roboto';
  font-size: 12px;
  text-transform: uppercase;
  color: #323C47 !important; }
  .formbuilder.fb-entries .chart-explorer-container .total > div > span {
    padding-left: 8px;
    font-weight: bold; }
.formbuilder.fb-entries .chart-explorer-container .plots .plot {
  fill: #a6e50f !important; }
.formbuilder.fb-entries .chart-explorer-container .chart-line path {
  stroke: #a6e50f !important; }
.formbuilder.fb-entries .chart-explorer-container .chart-area path {
  fill: #a6e50f !important; }
.formbuilder.fb-entries .elementindex .tableview .checkbox:before {
  width: 22px !important;
  height: 22px !important; }
.formbuilder.fb-entries .elementindex .tableview tr.sel .checkbox:before {
  background: transparent;
  box-shadow: none !important;
  line-height: 22px; }
.formbuilder.fb-entries .elementindex .toolbar.fixed {
  background-color: #fafbfc; }
.formbuilder.fb-entries .elementindex .toolbar td {
  background-color: #fafbfc; }
.formbuilder.fb-entries .elementindex th.ordered {
  background-position: 93% 9px; }
  .formbuilder.fb-entries .elementindex th.ordered.desc {
    background-position: 93% -23px; }
  .formbuilder.fb-entries .elementindex th.ordered.loading {
    background-position: 93% 16px; }
.formbuilder.fb-entries .elementindex thead td, .formbuilder.fb-entries .elementindex thead th {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #989898;
  background-color: #F4F7F9;
  letter-spacing: 0.04em;
  padding: 16px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }
  .formbuilder.fb-entries .elementindex thead td:first-child, .formbuilder.fb-entries .elementindex thead th:first-child {
    border-top-left-radius: 5px; }
  .formbuilder.fb-entries .elementindex thead td:last-child, .formbuilder.fb-entries .elementindex thead th:last-child {
    border-top-right-radius: 5px; }
.formbuilder.fb-entries .elementindex tbody tr:hover td[data-attr="submission"] a, .formbuilder.fb-entries .elementindex tbody tr:hover .title a {
  color: #4da1ff; }
.formbuilder.fb-entries .elementindex tbody tr:last-child td {
  border: none; }
.formbuilder.fb-entries .elementindex tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px; }
.formbuilder.fb-entries .elementindex tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px; }
.formbuilder.fb-entries .elementindex tbody tr.sel td {
  background-color: #4da1ff;
  color: #ffffff !important; }
  .formbuilder.fb-entries .elementindex tbody tr.sel td a {
    color: #ffffff !important; }
.formbuilder.fb-entries .elementindex tbody td {
  font-family: 'Roboto';
  font-size: 14px;
  padding: 16px 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid #E9EFF4; }
  .formbuilder.fb-entries .elementindex tbody td.dragsort, .formbuilder.fb-entries .elementindex tbody td.checkbox-cell {
    text-align: center;
    width: 60px !important; }
  .formbuilder.fb-entries .elementindex tbody td[data-attr="submission"] a, .formbuilder.fb-entries .elementindex tbody td .title a {
    font-weight: bold;
    color: #323C47;
    transition: color .3s ease; }
  .formbuilder.fb-entries .elementindex tbody td.updated, .formbuilder.fb-entries .elementindex tbody td.count {
    color: #989898;
    text-align: center; }

.formbuilder.fb-submission #main {
  background-color: #fafbfc; }
.formbuilder.fb-submission .pane {
  padding: 20px 60px 60px 60px;
  background-color: #fafbfc; }
.formbuilder.fb-submission .submission-details-tout {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #E9EFF4;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 14px;
  color: #323C47;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }
  .formbuilder.fb-submission .submission-details-tout header {
    border-bottom: 1px solid #E9EFF4;
    padding: 15px 20px; }
    .formbuilder.fb-submission .submission-details-tout header .tout-title {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    .formbuilder.fb-submission .submission-details-tout header .tout-date {
      font-size: 12px;
      color: #989898;
      margin-right: 20px; }
  .formbuilder.fb-submission .submission-details-tout main {
    padding: 20px; }
    .formbuilder.fb-submission .submission-details-tout main p {
      font-size: 12px; }
    .formbuilder.fb-submission .submission-details-tout main span {
      font-weight: bold; }
  .formbuilder.fb-submission .submission-details-tout.theme-moss {
    background-color: #637c8a;
    color: #ffffff; }
    .formbuilder.fb-submission .submission-details-tout.theme-moss header {
      border-color: #6F8996; }
  .formbuilder.fb-submission .submission-details-tout.theme-white main {
    padding: 16px 0; }
  .formbuilder.fb-submission .submission-details-tout.upload-details {
    transform-origin: center center;
    transition: transform .3s ease; }
    .formbuilder.fb-submission .submission-details-tout.upload-details.zap {
      transform: scale(0); }
    .formbuilder.fb-submission .submission-details-tout.upload-details main {
      padding: 0; }
.formbuilder.fb-submission table.submission tr td {
  padding: 16px 20px;
  vertical-align: top; }
.formbuilder.fb-submission .elements tr td {
  font-family: 'Roboto';
  font-size: 14px;
  padding: 16px 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid #E9EFF4; }
.formbuilder.fb-submission .elements tr:first-child td {
  border-top: none; }
.formbuilder.fb-submission .elements tr:last-child {
  border-bottom: none; }
.formbuilder.fb-submission .elements .element {
  padding: 0 0 0 47px !important; }
.formbuilder.fb-submission .elements .elementthumb {
  left: 0 !important; }
.formbuilder.fb-submission .elements .title {
  font-size: 12px; }
.formbuilder.fb-submission .elements .no-files {
  padding: 20px 20px 10px 20px; }

/* ============================================ *
 * Templates
 * ============================================ */
.fb-templates .pane {
  margin: 0;
  padding: 20px;
  border-radius: 0; }
.fb-templates #main > .padded {
  padding: 0; }
.fb-templates .no-templates {
  text-align: center;
  padding: 90px 0 300px 0; }
  .fb-templates .no-templates p {
    font-weight: 700;
    font-size: 18px;
    color: #474747; }
.fb-templates .templates {
  background: white;
  min-height: 600px; }
  .fb-templates .templates.pane {
    padding: 0 !important; }
  .fb-templates .templates thead tr:hover {
    background: white; }
  .fb-templates .templates th {
    padding: 20px; }
  .fb-templates .templates tr {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .fb-templates .templates tr:hover {
      background: #fafafa; }
    .fb-templates .templates tr td {
      padding: 12px 20px; }
      .fb-templates .templates tr td.name a, .fb-templates .templates tr td.handle, .fb-templates .templates tr td.count {
        color: #333f4d;
        font-family: "Open Sans", "Helvetica", sans-serif; }
      .fb-templates .templates tr td.handle {
        font-weight: 400; }
      .fb-templates .templates tr td.name a {
        color: #47c5ca;
        text-decoration: none;
        font-weight: 600; }
        .fb-templates .templates tr td.name a:hover {
          color: #333f4d; }
      .fb-templates .templates tr td.action svg {
        cursor: pointer;
        margin-right: 4px; }
        .fb-templates .templates tr td.action svg * {
          fill: #333f4d;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .fb-templates .templates tr td.action svg:hover * {
          fill: #47c5ca; }

.fb-templates-edit .pane {
  margin: 0;
  padding: 20px;
  border-radius: 0; }
.fb-templates-edit #main > .padded {
  padding: 0; }
.fb-templates-edit .template-form {
  padding: 30px; }
.fb-templates-edit #template-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
.fb-templates-edit #template-designer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
.fb-templates-edit #template-settings {
  padding: 25px;
  margin-right: 25px;
  background-color: white; }
  .fb-templates-edit #template-settings .fields-wrapper {
    padding: 20px;
    background: white; }

/* ============================================ *
 * Content Creator
 * ============================================ */
#content-creator .size-info {
  position: absolute;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 135px;
  padding: 0 10px;
  background: #ebedef;
  color: #b9bfc6;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: all 0.3s 0.1s ease;
  -moz-transition: all 0.3s 0.1s ease;
  transition: all 0.3s 0.1s ease; }
#content-creator .pane-container {
  position: relative;
  margin-top: -20px; }
  #content-creator .pane-container:hover #templateBodyContainerWidth {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  #content-creator .pane-container:hover .size-info {
    opacity: 1;
    color: #b9bfc6;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  #content-creator .pane-container:hover #cc-wrapper {
    border: 1px dashed #47c5ca; }
#content-creator .txt {
  font-size: 12px;
  line-height: 16px;
  font-family: Courier, monospace;
  color: #8f98a3;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
#content-creator p {
  margin: 0;
  padding: 0; }
#content-creator .field {
  margin: 0 !important; }
#content-creator input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 5px;
  outline: none; }
  #content-creator input[type="range"]#templateBodyContainerWidth {
    margin: 0 0 20px 0;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #content-creator input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #a9dde0; }
    #content-creator input[type="range"]::-webkit-slider-thumb:hover {
      background: #47c5ca; }
#content-creator #cc-wrapper {
  position: relative;
  width: 500px;
  padding: 25px;
  box-sizing: border-box;
  border: 1px dashed rgba(71, 197, 202, 0.2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #content-creator #cc-wrapper:hover .backgroundColorTrigger {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  #content-creator #cc-wrapper .backgroundColorTrigger {
    position: absolute;
    top: -23px;
    right: 5px;
    bottom: auto;
    left: auto;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    height: 15px;
    width: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0; }
    #content-creator #cc-wrapper .backgroundColorTrigger:hover svg {
      opacity: .7; }
    #content-creator #cc-wrapper .backgroundColorTrigger svg {
      cursor: pointer;
      pointer-events: none;
      height: 100%;
      width: 100%;
      opacity: .2;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    #content-creator #cc-wrapper .backgroundColorTrigger input {
      position: absolute;
      top: 0;
      opacity: 0; }
  #content-creator #cc-wrapper .text-content {
    position: relative;
    cursor: pointer; }
    #content-creator #cc-wrapper .text-content p {
      line-height: 1; }
    #content-creator #cc-wrapper .text-content:hover {
      border: 1px dashed #47c5ca; }
      #content-creator #cc-wrapper .text-content:hover .text-actions {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
      #content-creator #cc-wrapper .text-content:hover .delete {
        opacity: 1; }
    #content-creator #cc-wrapper .text-content .delete {
      position: absolute;
      top: 50%;
      right: -20px;
      bottom: auto;
      left: auto;
      margin-top: -9px;
      opacity: 0; }
  #content-creator #cc-wrapper .text-actions {
    position: absolute;
    top: -25px;
    right: auto;
    bottom: auto;
    left: -5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #content-creator #cc-wrapper .text-actions .icon {
      display: block;
      padding: 0 5px;
      height: 15px;
      width: 15px; }
      #content-creator #cc-wrapper .text-actions .icon:hover svg * {
        stroke: rgba(0, 0, 0, 0.7); }
      #content-creator #cc-wrapper .text-actions .icon svg {
        height: 100%;
        width: 100%; }
      #content-creator #cc-wrapper .text-actions .icon svg * {
        stroke: rgba(0, 0, 0, 0.4);
        -webkit-transition: stroke 0.3s ease;
        -moz-transition: stroke 0.3s ease;
        transition: stroke 0.3s ease; }
    #content-creator #cc-wrapper .text-actions .small {
      height: 10px;
      width: 10px; }
    #content-creator #cc-wrapper .text-actions .text-color {
      position: relative; }
      #content-creator #cc-wrapper .text-actions .text-color svg {
        pointer-events: none; }
      #content-creator #cc-wrapper .text-actions .text-color input {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        height: 20px;
        width: 25px;
        opacity: 0; }
#content-creator #cc-header #templateLogo {
  margin-bottom: 20px; }
#content-creator #cc-header .templatelogoelement {
  padding: 0;
  margin: 0;
  float: none; }
  #content-creator #cc-header .templatelogoelement.sel {
    background: transparent; }
  #content-creator #cc-header .templatelogoelement .label {
    display: none; }
  #content-creator #cc-header .templatelogoelement .delete {
    right: -20px !important;
    opacity: 0; }
  #content-creator #cc-header .templatelogoelement:hover .delete {
    opacity: 1; }
  #content-creator #cc-header .templatelogoelement:hover .alignment-controls {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
#content-creator #cc-header .alignment-controls {
  opacity: 0;
  position: absolute;
  top: -21px;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
#content-creator #cc-header [data-align="left"] {
  text-align: left; }
#content-creator #cc-header [data-align="center"] {
  float: none;
  text-align: center; }
#content-creator #cc-header [data-align="right"] {
  text-align: right; }
#content-creator #cc-header .align-trigger {
  display: block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  #content-creator #cc-header .align-trigger.active {
    opacity: .8; }
    #content-creator #cc-header .align-trigger.active svg * {
      stroke: #47c5ca; }
  #content-creator #cc-header .align-trigger:hover {
    opacity: .8; }
#content-creator #cc-header .logo-asset {
  max-width: 200px; }
  #content-creator #cc-header .logo-asset img {
    max-width: 100%; }
#content-creator #cc-body {
  position: relative;
  min-height: 100px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #content-creator #cc-body:hover .containerColorTrigger {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  #content-creator #cc-body .containerColorTrigger {
    position: absolute;
    top: -23px;
    right: 5px;
    bottom: auto;
    left: auto;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    height: 15px;
    width: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0; }
    #content-creator #cc-body .containerColorTrigger:hover svg {
      opacity: .7; }
    #content-creator #cc-body .containerColorTrigger svg {
      cursor: pointer;
      pointer-events: none;
      height: 100%;
      width: 100%;
      opacity: .2;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    #content-creator #cc-body .containerColorTrigger input {
      position: absolute;
      top: 0;
      opacity: 0; }
  #content-creator #cc-body .body-copy {
    padding: 15px;
    margin-top: 10px;
    border: 1px dashed rgba(165, 166, 168, 0);
    -webkit-transition: border 0.3s ease;
    -moz-transition: border 0.3s ease;
    transition: border 0.3s ease; }
  #content-creator #cc-body .submission-data {
    padding: 15px; }
#content-creator #cc-footer .footer-copy {
  padding: 15px;
  margin-top: 10px;
  border: 1px dashed rgba(165, 166, 168, 0);
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  transition: border 0.3s ease; }

/* ============================================ *
 * Templates
 * ============================================ */
.fb-layouts .pane {
  margin: 0;
  padding: 20px;
  border-radius: 0; }
.fb-layouts #main > .padded {
  padding: 0; }

.fb-layouts-edit .pane {
  margin: 0;
  padding: 20px;
  border-radius: 0; }
.fb-layouts-edit #main > .padded {
  padding: 0; }
.fb-layouts-edit .layout-form {
  padding: 30px;
  background-color: white; }

/* ============================================ *
 * Configuration
 * ============================================ */
.fb-configuration .pane {
  margin: 0;
  padding: 20px;
  border-radius: 0; }
.fb-configuration #main > .padded {
  padding: 0; }
.fb-configuration #fb-content {
  min-height: 600px; }
  .fb-configuration #fb-content > .pane {
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
  .fb-configuration #fb-content .settings {
    width: 400px; }
    .fb-configuration #fb-content .settings input[type="text"] {
      width: 100%; }
  .fb-configuration #fb-content .information li span {
    font-weight: 700; }

/* ============================================ *
 * Backup & Restore
 * ============================================ */
.fb-backup-restore .backup-forms {
  max-width: 250px; }
.fb-backup-restore .backup-restore {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
  .fb-backup-restore .backup-restore h2 {
    margin-bottom: 4px; }
  .fb-backup-restore .backup-restore p {
    margin: 0 0 10px 0 !important;
    color: #51657b;
    font-size: 12px; }
  .fb-backup-restore .backup-restore .restore-forms .field {
    margin: 3px 0 0 0; }
  .fb-backup-restore .backup-restore .restore-forms button {
    margin-top: 10px; }

.formbuilder .btns {
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 12px;
  font-style: normal;
  border-radius: 5px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 19px 10px 19px;
  height: auto;
  background-image: none !important;
  transition: all .3s ease;
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }
  .formbuilder .btns:before {
    margin-right: 19px !important;
    font-size: 15px; }
  .formbuilder .btns:hover {
    background-image: none; }
  .formbuilder .btns.btn-white {
    background-color: #ffffff;
    border: 1px solid #E9EFF4;
    color: #323C47; }
    .formbuilder .btns.btn-white.icon {
      background: #ffffff; }
    .formbuilder .btns.btn-white:hover {
      background-color: #E9EFF4; }
  .formbuilder .btns.btn-link {
    color: #4da1ff; }
    .formbuilder .btns.btn-link:hover {
      color: #006de6; }
  .formbuilder .btns.btn-info {
    background-color: #4da1ff; }
    .formbuilder .btns.btn-info:hover {
      background-color: #67aeff; }
  .formbuilder .btns.btn-danger {
    background-color: #ff6d4a; }
    .formbuilder .btns.btn-danger:hover {
      background-color: #ff8264; }
  .formbuilder .btns.btn-moss {
    background-color: #637c8a; }
    .formbuilder .btns.btn-moss:hover, .formbuilder .btns.btn-moss.active {
      background-color: #6f8998; }

.formbuilder-modal {
  border: 1px solid #E9EFF4; }
  .formbuilder-modal header {
    padding: 60px 60px 40px 60px;
    text-align: center; }
    .formbuilder-modal header .modal-title {
      font-family: 'Roboto';
      font-size: 28px;
      color: #323C47;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility; }
    .formbuilder-modal header .instructions {
      padding-top: 15px;
      font-family: 'Roboto';
      font-size: 14px;
      color: #989898;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility; }
  .formbuilder-modal .body {
    position: relative;
    padding: 0 60px 50px 60px; }
    .formbuilder-modal .body input {
      box-shadow: none;
      border-color: #E9EFF4; }
    .formbuilder-modal .body .path-text {
      position: absolute;
      top: 17px;
      right: auto;
      bottom: auto;
      left: 75px;
      font-family: Menlo, monospace;
      color: #d8e3ec;
      font-size: 10px; }
  .formbuilder-modal .text {
    padding: 15px 10px;
    text-align: center; }
  .formbuilder-modal .code {
    font-family: Menlo, monospace; }
  .formbuilder-modal footer {
    border-top: 1px solid #E9EFF4;
    background-image: none;
    background-color: #ffffff;
    box-shadow: none;
    padding: 0; }
  .formbuilder-modal .buttons {
    display: flex;
    flex-direction: row; }
    .formbuilder-modal .buttons > input {
      display: block;
      flex: 1;
      border: none;
      outline: none;
      border-radius: 0;
      padding: 20px;
      cursor: pointer;
      color: #323C47;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none; }
      .formbuilder-modal .buttons > input:first-child {
        border-right: 1px solid #E9EFF4; }
      .formbuilder-modal .buttons > input:hover {
        background-color: #E9EFF4; }
    .formbuilder-modal .buttons:before, .formbuilder-modal .buttons:after {
      display: none; }

.formbuilder .field label {
  font-family: 'Roboto';
  font-weight: bold;
  color: #323C47; }
.formbuilder .select {
  box-shadow: none;
  border: 1px solid #E9EFF4;
  width: 100%;
  background-image: none;
  box-shadow: none; }
  .formbuilder .select:after {
    right: 20px !important; }
  .formbuilder .select select {
    font-family: 'Roboto';
    color: #323C47;
    width: 100%;
    padding: 16px 10px 13px 60px !important;
    outline: none;
    box-shadow: none !important; }
.formbuilder input.text, .formbuilder textarea.text {
  font-family: 'Roboto';
  color: #323C47;
  padding: 15px 10px;
  width: 100%;
  box-shadow: none; }
  .formbuilder input.text:focus, .formbuilder textarea.text:focus {
    border-color: #E9EFF4;
    box-shadow: none; }
.formbuilder input.code, .formbuilder textarea.code {
  font-family: Menlo, monospace; }

.formbuilder #fieldlayoutform {
  background-color: #fafbfc;
  background-image: none;
  padding: 0; }
  .formbuilder #fieldlayoutform .newtabbtn-container {
    margin-bottom: 0;
    padding: 20px; }
    .formbuilder #fieldlayoutform .newtabbtn-container:before {
      display: none; }
    .formbuilder #fieldlayoutform .newtabbtn-container .btn.icon:before {
      content: "+"; }
  .formbuilder #fieldlayoutform header {
    padding: 0 20px;
    border-bottom: none; }
    .formbuilder #fieldlayoutform header h2 {
      margin: 0 0 2px 0 !important;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 1;
      color: black;
      font-weight: 700 !important;
      font-style: normal;
      text-transform: none;
      text-decoration: none;
      color: #323C47; }
    .formbuilder #fieldlayoutform header p {
      padding: 0;
      margin: 0;
      font-family: 'Roboto';
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      color: #989898;
      text-transform: none; }
.formbuilder .fld-tabs {
  margin: 0 0 20px 0 !important;
  padding: 20px;
  border-bottom: 1px solid #E9EFF4; }
  .formbuilder .fld-tabs .fld-tab.last {
    margin-bottom: 30px !important; }
.formbuilder .unusedfields {
  margin: 0 0 20px 0 !important;
  padding: 20px; }
  .formbuilder .unusedfields .fld-tab.last {
    margin-bottom: 30px !important; }
.formbuilder .fld-tab {
  margin: 0 20px 20px 0 !important; }
  .formbuilder .fld-tab .tabs {
    padding: 0;
    background: rgba(128, 128, 128, 0.2);
    width: 100%;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    .formbuilder .fld-tab .tabs:hover {
      background: rgba(128, 128, 128, 0.3); }
    .formbuilder .fld-tab .tabs .tab {
      padding: 10px 20px;
      margin: 0;
      border: none;
      float: none;
      width: 100%;
      border-radius: none;
      box-sizing: border-box;
      box-shadow: none;
      background: #637c8a; }
      .formbuilder .fld-tab .tabs .tab span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        color: #ffffff; }
      .formbuilder .fld-tab .tabs .tab a:before {
        color: white; }
    .formbuilder .fld-tab .tabs .settings {
      float: right; }
  .formbuilder .fld-tab .template-result {
    font-family: 'Roboto';
    display: block;
    font-size: 10px;
    font-style: normal;
    text-transform: none;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility; }
    .formbuilder .fld-tab .template-result svg {
      width: 10px;
      margin-right: 4px;
      vertical-align: middle; }
  .formbuilder .fld-tab .fld-tabcontent {
    padding: 0;
    border: 1px solid #E9EFF4; }
    .formbuilder .fld-tab .fld-tabcontent .fld-field {
      padding: 15px 20px;
      border: none;
      border-bottom: 1px solid rgba(128, 128, 128, 0.1);
      background: #ffffff;
      -webkit-transition: background 0.3s ease;
      -moz-transition: background 0.3s ease;
      transition: background 0.3s ease; }
      .formbuilder .fld-tab .fld-tabcontent .fld-field:hover {
        background: #fcfcfc; }
      .formbuilder .fld-tab .fld-tabcontent .fld-field:last-child {
        border-bottom: none; }
      .formbuilder .fld-tab .fld-tabcontent .fld-field.fld-required span:after {
        color: #f07575; }
      .formbuilder .fld-tab .fld-tabcontent .fld-field a:before {
        color: #c9c9c9; }
      .formbuilder .fld-tab .fld-tabcontent .fld-field + .fld-field {
        margin: 0; }
    .formbuilder .fld-tab .fld-tabcontent span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      text-transform: none;
      color: #323C47; }
    .formbuilder .fld-tab .fld-tabcontent .fld-tab-caboose {
      border: none !important;
      margin: 0 0 0 -1px !important;
      padding: 0 !important;
      min-height: auto !important;
      height: 5px;
      background: #a6e50f;
      box-sizing: border-box; }
  .formbuilder .fld-tab.fld-insertion {
    border: 2px dashed #4da1ff;
    border-radius: 5px; }
    .formbuilder .fld-tab.fld-insertion .tabs, .formbuilder .fld-tab.fld-insertion .tab, .formbuilder .fld-tab.fld-insertion .fld-tabcontent {
      background: none;
      border: none; }
.formbuilder .draghelper.fld-tab .tabs {
  padding: 0;
  background: rgba(128, 128, 128, 0.2);
  width: 100%;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .formbuilder .draghelper.fld-tab .tabs:hover {
    background: rgba(128, 128, 128, 0.3); }
  .formbuilder .draghelper.fld-tab .tabs .tab {
    padding: 10px 20px;
    margin: 0;
    border: none;
    float: none;
    width: 100%;
    border-radius: none;
    box-sizing: border-box;
    box-shadow: none;
    background: #637c8a; }
    .formbuilder .draghelper.fld-tab .tabs .tab span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      text-transform: none;
      color: #ffffff; }
    .formbuilder .draghelper.fld-tab .tabs .tab a:before {
      color: white; }
  .formbuilder .draghelper.fld-tab .tabs .settings {
    float: right; }
.formbuilder .draghelper.fld-tab .template-result {
  font-family: 'Roboto';
  display: block;
  font-size: 10px;
  font-style: normal;
  text-transform: none;
  color: #989898;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }
  .formbuilder .draghelper.fld-tab .template-result svg {
    width: 10px;
    margin-right: 4px;
    vertical-align: middle; }
.formbuilder .draghelper.fld-tab .fld-tabcontent {
  padding: 0;
  border: 1px solid #E9EFF4; }
  .formbuilder .draghelper.fld-tab .fld-tabcontent .fld-field {
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    background: #ffffff;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    .formbuilder .draghelper.fld-tab .fld-tabcontent .fld-field:hover {
      background: #fcfcfc; }
    .formbuilder .draghelper.fld-tab .fld-tabcontent .fld-field:last-child {
      border-bottom: none; }
    .formbuilder .draghelper.fld-tab .fld-tabcontent .fld-field.fld-required span:after {
      color: #f07575; }
    .formbuilder .draghelper.fld-tab .fld-tabcontent .fld-field a:before {
      color: #c9c9c9; }
    .formbuilder .draghelper.fld-tab .fld-tabcontent .fld-field + .fld-field {
      margin: 0; }
  .formbuilder .draghelper.fld-tab .fld-tabcontent span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    color: #323C47; }
  .formbuilder .draghelper.fld-tab .fld-tabcontent .fld-tab-caboose {
    border: none !important;
    margin: 0 0 0 -1px !important;
    padding: 0 !important;
    min-height: auto !important;
    height: 5px;
    background: #a6e50f;
    box-sizing: border-box; }
.formbuilder .draghelper.fld-field {
  padding: 15px 20px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  background: #ffffff; }
  .formbuilder .draghelper.fld-field span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    color: #323C47; }
  .formbuilder .draghelper.fld-field .settings {
    opacity: 0; }
.formbuilder .unusedfields .unused .tab {
  cursor: move; }

.cmp-tout {
  position: relative;
  font-family: 'Roboto';
  font-size: 14px;
  color: #323C47;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #E9EFF4;
  box-sizing: border-box;
  margin-bottom: 14px; }
  .cmp-tout header {
    border-bottom: 1px solid #E9EFF4;
    padding: 15px 20px; }
    .cmp-tout header .tout-title {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .07em; }
  .cmp-tout .body {
    padding: 20px; }
    .cmp-tout .body .tout-count {
      font-weight: bold; }
    .cmp-tout .body .tout-count-text {
      font-size: 12px; }
  .cmp-tout.theme-moss {
    background-color: #637c8a;
    color: #ffffff; }
    .cmp-tout.theme-moss header {
      border-color: #6F8996; }

.notification-email-tout {
  background-color: #ffffff; }
  .notification-email-tout header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px; }
    .notification-email-tout header .action {
      margin-left: auto; }
  .notification-email-tout .body {
    padding: 0; }
  .notification-email-tout .settings-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #E9EFF4;
    padding: 10px 20px; }
    .notification-email-tout .settings-item:last-child {
      border-bottom: none; }
    .notification-email-tout .settings-item .settings-title {
      font-family: 'Roboto';
      font-weight: 500; }
      .notification-email-tout .settings-item .settings-title .settings-result {
        font-size: 10px; }
    .notification-email-tout .settings-item .settings-action {
      margin-left: auto; }
      .notification-email-tout .settings-item .settings-action .btns {
        padding-right: 0; }
      .notification-email-tout .settings-item .settings-action .settings-edit {
        display: block;
        padding: 9px; }
        .notification-email-tout .settings-item .settings-action .settings-edit:hover svg * {
          fill: #4da1ff; }

.form-tout {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px; }
  .form-tout .form-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .form-tout .form-settings svg * {
      fill: #989898; }
    .form-tout .form-settings .setting-section {
      margin-bottom: 20px;
      margin-right: 20px;
      padding-right: 10px;
      border-right: 1px solid #E9EFF4; }
      .form-tout .form-settings .setting-section:last-child {
        margin-bottom: 0;
        border: none; }
      .form-tout .form-settings .setting-section h3 {
        color: #989898; }
    .form-tout .form-settings .setting-icons {
      display: flex;
      flex-direction: row; }
    .form-tout .form-settings .setting-icon {
      height: 15px;
      width: 15px;
      padding: 8px;
      border-radius: 100%;
      background-color: #E9EFF4;
      margin-right: 10px;
      cursor: default; }
      .form-tout .form-settings .setting-icon.active {
        background-color: #a6e50f; }
        .form-tout .form-settings .setting-icon.active svg * {
          fill: #ffffff; }

.counter-tout {
  font-family: 'Roboto';
  font-size: 14px;
  color: #323C47;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }
  .counter-tout .wrapper {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #E9EFF4;
    box-sizing: border-box; }
  .counter-tout header {
    border-bottom: 1px solid #E9EFF4;
    padding: 15px 20px; }
    .counter-tout header .tout-title {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
  .counter-tout main {
    padding: 20px; }
    .counter-tout main .tout-count {
      font-weight: bold; }
    .counter-tout main .tout-count-text {
      font-size: 12px; }
  .counter-tout.theme-moss .wrapper {
    background-color: #637c8a;
    color: #ffffff; }
  .counter-tout.theme-moss header {
    border-color: #6F8996; }

.template-tout main {
  padding: 40px;
  text-align: center; }
  .template-tout main .tout-icon {
    margin-bottom: 20px; }
  .template-tout main .tout-title, .template-tout main .tout-copy {
    display: block;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    color: #323C47;
    margin-bottom: 20px; }
  .template-tout main .tout-copy {
    font-size: 14px;
    font-weight: normal;
    color: #595D66; }
