{# {% extends "_layouts/cp" %} #}
{% extends "_layouts/elementindex" %}

{% set bodyClass = 'formbuilder fb-entries' %}
{% set page = 'Entries' %}

{% set elementType = "FormBuilder2" %}
{% set elementTypeClass = elementType %}
{% set context = 'index' %}
  
{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block main %}
  {% include 'formbuilder2/partials/sidebar' %} 
  <section id="fb-content">
    <header class="page-header">
      <h1><svg class="icon"><use xlink:href="#icon-list" class="icon-list"/></svg> {{ page|t }}</h1>
    </header>
  {{ parent() }}
  </section>
{% endblock %}
