{% extends "_layouts/elementindex" %}
{% set title = "Entries"|t %}
{% set elementType = 'FormBuilder2' %}
{% set bodyClass = 'formbuilder fb-entries' %}
{% set page = 'Entries' %}
{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block sidebar %}
  {% if navigation is not empty %}
    <h2 class="nav-trigger">Navigation <a href="#"><span class="fa fa-bars"></span></a></h2>
    {% include 'formbuilder2/partials/sidebar' %}
  {% endif %}
  <h2>Forms</h2>
  {{ parent() }}
{% endblock %}


{% block content %}
  {{ parent() }}
{% endblock %}

{% if sectionHandle is defined %}
  {% includejs 'window.defaultSectionHandle = "'~sectionHandle~'";' %}
{% endif %}
