/* ============================================ *
 * Configuration
 * ============================================ */

.fb-configuration {

  .pane {
    margin: 0;
    padding: 20px;
    border-radius: 0;
  }

  #main > .padded {
    padding: 0;
  }

  #fb-content {
    min-height: 600px;
    & > .pane {
      @include align-items(stretch);
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(flex-start);
    }
    
    // Settings
    .settings {
      width: 400px;
      input[type="text"] {
        width: 100%;
      }
    }
    
    // Information
    .information {
      li span {
        font-weight: 700;
      }
    }
  }

  
}