.formbuilder.fb-entries {

    .section-header {
        display: none;
    }

    .pane {
        padding-top: 0 !important;
        background-color: $c-offWhite;
    }

    #sidebar {
        background-color: transparent;
        padding: 0 0 0 20px;
        margin-top: 17px !important;

        .sel {
            background-color: $c-moss;
        }
    }

    .show-sidebar {
        background: $c-moss;
        color: $c-white;
        font-family: 'Roboto';
        text-transform: uppercase;
        letter-spacing: .07em;
    }

    .chart-explorer-container {
        .chart-explorer {
            background-color: $c-moss;
        }

        .total {
            & > div {
                display: inline;
                font-family: 'Roboto';
                font-size: 12px;
                text-transform: uppercase;
                color: $c-white !important;
                & > span {
                    padding-left: 8px;
                    font-weight: bold;
                }
            }
        }

        .grid-line .tick {
            line {
                stroke: darken($c-moss, 2) !important;
            }
        }

        .tick {
            text { 
                stroke: none !important; 
                fill: $c-white !important;
            }
        }

        .axis path {
            stroke: $c-moss !important;
        }

        .plots .plot {
            fill: $c-success !important;
        }

        .chart-line path {
            stroke: $c-success !important;
        }

        .chart-area path {
            fill: $c-success !important;
        }
    }

    .elementindex {

        .tableview {
            .checkbox {
                &:before {
                    width: 22px !important;
                    height: 22px !important;
                }
            }

            tr.sel .checkbox {
                &:before {
                    background: transparent;
                    box-shadow: none !important;
                    line-height: 22px;
                }
            }
        }

        .toolbar {
            &.fixed {
                background-color: $c-offWhite;
            }
            td {
                border: none !important;
                background-color: $c-offWhite;
            }
        }

        th.ordered {
            background-position: 93% 9px;
            &.desc { background-position: 93% -23px; }
            &.loading { background-position: 93% 16px; }
        }   

        thead {
            td, th {
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 14px;
                letter-spacing: .07em;
                text-transform: uppercase;
                color: $c-white;
                background-color: $c-moss;
                letter-spacing: $letter-spacing;
                padding: 16px 0;
                @include antialias;
                &:first-child { border-top-left-radius: $border-radius; }
                &:last-child { border-top-right-radius: $border-radius; }
                // width: 20%;
            }
        }

        tbody {
            tr {
                &:hover {
                    td[data-attr="submission"] a, .title a {
                        color: $c-info;
                    }
                }
                &:last-child {
                    td:first-child {
                        border-bottom-left-radius: $border-radius;
                    }
                    td:last-child {
                        border-bottom-right-radius: $border-radius;
                    }
                }

                &.sel {
                    td {
                        background-color: $c-info;
                        color: $c-white !important;
                        a {
                            color: $c-white !important;
                        }
                    }
                }
            }
            td {
                font-family: 'Roboto';
                font-size: 14px;
                padding: 16px 0;
                background-color: $c-white;
                @include antialias;
                border-bottom: 1px solid $c-border;

                &.dragsort, &.checkbox-cell {
                    text-align: center;
                    width: 60px !important;
                }

                &[data-attr="submission"] a, .title a {
                    font-weight: bold;
                    color: $c-textDarkBlue;
                    transition: color .3s ease;
                }
                &.updated, &.count {
                    color: $c-textLight;
                    text-align: center;
                }

                &:first-child {
                    border-left: 1px solid $c-border;
                }

                &:last-child {
                    border-right: 1px solid $c-border;
                }
            }
        }
    }

    // Collapsed
    .tableview {
        table.collapsed {
            .checkbox-cell {
                width: 100% !important;
                box-sizing: border-box;
                border-top: 1px solid $c-border !important;
            }
            tbody tr {
                border: none;
                margin-bottom: 30px;
                &.sel {
                    td {
                        border-bottom: 1px solid rgba($c-white, .1);
                    }
                }
                td {
                    border-left: 1px solid $c-border;
                    border-right: 1px solid $c-border;
                    padding: 13px 20px !important;
                    &:first-child {
                        border-top-left-radius: $border-radius;
                        border-top-right-radius: $border-radius;
                    }
                    &:last-child {
                        border-bottom-left-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;
                    }
                }
                &:last-child {
                }
           }
        }
    }
    
    @include bp(max-width, $desktop) {

        #sidebar {
            background-color: $c-white !important;
            padding: 24px !important;
            nav li a {
                padding: 16px 0 16px 24px !important;
            }
        }
    }

    @include bp(max-width, $tablet) {
        .pane {
            padding-top: 24px !important;
        }
    }
}

// Entry
.formbuilder.fb-submission {

    #main {
        background-color: $c-offWhite;
    }

    .pane {
        padding: 20px 60px 60px 60px;
        background-color: $c-offWhite;
    }

    .submission-details-tout {
        border-radius: $border-radius;
        background-color: $c-white;
        border: 1px solid $c-border;
        box-sizing: border-box;
        font-family: 'Roboto';
        font-size: 14px;
        color: $c-textDarkBlue;
        letter-spacing: $letter-spacing;
        @include antialias;
        header {
            border-bottom: 1px solid $c-border;
            padding: 15px 20px;
            .tout-title {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .tout-date {
                font-size: 12px;
                color: $c-textLight;
                margin-right: 20px;
            }
        }

        main {
            padding: 20px;
            p {
                font-size: 12px;
            }
            span {
                font-weight: bold;
            }
        }

        // Theme 
        &.theme-moss {
            background-color: $c-moss;
            color: $c-white;
            header {
                border-color: #6F8996;
            }
        }

        &.theme-white {
            main {
                padding: 16px 0;
            }
        }

        &.upload-details {
            transform-origin: center center;
            transition: transform .3s ease;
            &.zap {
                transform: scale(0);
            }
            main {
                padding: 0;
            }
        }
    }

    table.submission {
        tr {
            td {
                padding: 16px 20px;
                vertical-align: top;
            }
        }
    }

    .elements {
        tr {
            td {
                font-family: 'Roboto';
                font-size: 14px;
                padding: 16px 20px;
                @include antialias;
                border-bottom: 1px solid $c-border;
            }
            &:first-child {
                td { border-top: none; }
            }
            &:last-child {
                border-bottom: none;
            }
        }
        .element { padding: 0 0 0 47px !important; }
        .elementthumb { left: 0 !important; }
        .title {
            font-size: 12px;
        }

        .no-files {
            padding: 20px 20px 10px 20px;
        }
    }

}


  // #crumbs li:last-child {
  //   &:after { content: ""; }
  // }

  // // View Entry
  // .view-entry {
  //   .submission-details, .upload-details  {
  //     h1 { color: $c-blue; margin-bottom: 10px; }
  //     p { margin: 0; padding: 0; }
  //     span { font-weight: 700; }
  //   }

  //   .submission-details {
  //     margin-bottom: 30px !important;
  //   }

  //   .no-content { margin-bottom: 30px; }
  // }

  // // File Uploads
  // .upload-details {
  //   .file {
  //     padding: 15px 15px 15px 0;
  //     margin: 0 5px;
  //     border-bottom: 1px solid rgba(gray, .2);
  //     @include clearfix;
  //     @include transition(all .3s ease);
  //     &:last-child { border-bottom: none; }
  //     &:hover { background: darken(white, 2); }
  //     img { 
  //       display: block;
  //       margin: 0 auto;
  //       width: 90%; 
  //     }
  //     .icon {
  //       float: left;
  //       width: 100px;
  //       margin-right: 10px;
  //     }
  //     .details {
  //       a {
  //         color: $c-teal;
  //         text-decoration: none;
  //         &:hover { color: $c-blue; }
  //       }
  //     }
  //     .compressed, .document, .pdf {
  //       svg {
  //         @include size(80px 40px);
  //         * { fill: $c-blue; @include transition(all .3s ease);}
  //       }
  //     }
  //   }
  // }