/* ============================================ *
 * Templates
 * ============================================ */

// Index
.fb-templates {
   .pane {
     margin: 0;
     padding: 20px;
     border-radius: 0;
   }

   #main > .padded {
     padding: 0;
   }

   // No Forms 
   .no-templates {
     text-align: center;
     padding: 90px 0 300px 0;
     p {
       font-weight: 700;
       font-size: 18px;
       color: $c-gray;
     }
   }

   .templates {
     background: white;
     min-height: 600px;
     &.pane { padding: 0 !important; }
     thead tr:hover { background: white; }
     th {
       padding: 20px;
     }
     tr {
       @include transition(all .3s ease);
       &:hover {
         background: darken(white, 2);
       }
       td {
         padding: 12px 20px;
         &.name a, &.handle, &.count {
           color: $c-blue;
           font-family: $opensans;
         }
         &.handle {
           font-weight: 400;
         }
         &.name a {
           color: $c-teal;
           text-decoration: none;
           font-weight: 600;
           &:hover { color: $c-blue; }
         }
         &.action {
           svg {
             cursor: pointer;
             margin-right: 4px;
             * { fill: $c-blue; @include transition(all .3s ease); }
             &:hover {
               * { fill: $c-teal; }
             }
           }
         }
       }
     }
   }
}

// Edit/New
.fb-templates-edit {
	.pane {
	  margin: 0;
	  padding: 20px;
	  border-radius: 0;
	}

	#main > .padded {
	  padding: 0;
	}

	.template-form {
		padding: 30px;
		// background-color: white;
	}

	#template-container {
		@include display(flex);
		@include flex-direction(row);
		@include align-items(stretch);
		@include justify-content(flex-start);	
	}

	#template-designer {
		@include display(flex);
		@include flex-direction(row);
		@include align-items(stretch);
		@include justify-content(flex-start);

	}
	
	#template-settings {
		padding: 25px;
		margin-right: 25px;
		background-color: white;
		.fields-wrapper {
			padding: 20px;
			background: white;
		}
	}
}


/* ============================================ *
 * Content Creator
 * ============================================ */
#content-creator {
	.size-info {
		@include position(absolute, 2px auto auto 135px);
		padding: 0 10px;
		background: #ebedef;
		color: #b9bfc6;
		opacity: 0;
		@include transform(translateX(-10px));
		@include transition(all .3s .1s ease);
	}
	.pane-container {
		position: relative;
		margin-top: -20px;
		&:hover {
			#templateBodyContainerWidth {
				opacity: 1;
				@include transform(translateY(0));
			}
			.size-info {
				opacity: 1;
				color: #b9bfc6;
				@include transform(translateX(0));
			}
			#cc-wrapper {
				border: 1px dashed $c-teal;
			}
		}

	}
	.txt {
		font-size: 12px;
		line-height: 16px;
		font-family: Courier, monospace;
		color: #8f98a3;
		margin: 0;
		@include user-select(none);
	}

	p {
		margin: 0;
		padding: 0;
	}

	.field { margin: 0 !important; }

	// Inputs
	input[type="range"] {
		&#templateBodyContainerWidth {
			margin: 0 0 20px 0;
			opacity: 0;
			@include transform(translateY(10px));
			@include transition(all .3s ease);
		}
		@include appearance(none);
		background: rgba(black, .1);
		border-radius: 5px;
		height: 5px;
		outline: none;
		&::-webkit-slider-thumb {
			@include appearance(none);
			cursor: pointer;
			@include size(15px);
			border-radius: 15px;
			@include transition(all .3s ease);
			background: #a9dde0;
			&:hover {
				background: $c-teal;
			}
		}
	}

	// Content Blocks
	#cc-wrapper {
		position: relative;
		width: 500px;
		padding: 25px;
		box-sizing: border-box;
		border: 1px dashed rgba($c-teal, .2);
		@include transition(all .3s ease);

		&:hover {
			.backgroundColorTrigger {
				opacity: 1;
				@include transform(translateY(0));
			}
		}

		// Container Background Color
		.backgroundColorTrigger {
			@include position(absolute, -23px 5px auto auto);
			@include transform(translateY(10px));
			@include size(15px);
			@include transition(all .3s ease);
			opacity: 0;
			&:hover {
				svg {
					opacity: .7;
				}
			}
			svg { 
				cursor: pointer;
				pointer-events: none;
				@include size(100%);
				opacity: .2;
				@include transition(opacity .3s ease);
			}
			input {
				position: absolute;
				top: 0;
				opacity: 0;
			}
		}

		.text-content {
			position: relative;
			cursor: pointer;
			p {
				line-height: 1;
			}
			&:hover {
				border: 1px dashed $c-teal;
				.text-actions {
					opacity: 1;
					@include transform(translateY(0));
				}
				.delete { opacity: 1; }
			}
			.delete {
				@include position(absolute, 50% -20px auto auto);
				margin-top: -9px;
				opacity: 0;
			}
		}

		.text-actions {
			@include position(absolute, -25px auto auto -5px);
			@include display(flex);
			@include flex-direction(row);
			@include align-items(stretch);
			@include justify-content(flex-start);
			opacity: 0;
			@include transform(translateY(10px));
			@include transition(all .3s ease);	
			.icon {
				display: block;
				padding: 0 5px;
				@include size(15px);
				&:hover {
					svg * { stroke: rgba(black, .7); }
				}
				svg { @include size(100%); }
				svg * { stroke: rgba(black, .4); @include transition(stroke .3s ease); }
			}
			.small { @include size(10px); }
			.text-color {
				position: relative;
				svg {
					pointer-events: none;
				}
				input {
					@include position(absolute, 0 auto auto 0);
					@include size(25px 20px);
					opacity: 0;
				}
			}
		}
	}

	#cc-header {
		#templateLogo {
			margin-bottom: 20px;
		}
		.templatelogoelement { 
			padding: 0;
			margin: 0;
			float: none;
			&.sel { background: transparent; }
			.label { display: none; }
			.delete { 
				right: -20px !important;
				opacity: 0;
			}
			&:hover {
				.delete {
					opacity: 1;
				}
				.alignment-controls {
					opacity: 1;
					@include transform(translateY(0));
				}
			}
		}
		.alignment-controls {
			opacity: 0;
			@include position(absolute, -21px auto auto auto);
			@include transform(translateY(10px));
			@include transition(all .3s ease);

			@include display(flex);
			@include flex-direction(row);
			@include align-items(stretch);
			@include justify-content(flex-start);
		}
		[data-align="left"] { text-align: left; }
		[data-align="center"] { float: none; text-align: center; }
		[data-align="right"] { text-align: right; }
		.align-trigger {
			display: block;
			@include size(15px);
			margin-right: 5px;
			cursor: pointer;
			opacity: .4;
			@include transition(opacity .3s ease);
			&.active {
				opacity: .8;
				svg * { stroke: $c-teal; }
			}
			&:hover {
				opacity: .8;
			}
		}
		.logo-asset {
			max-width: 200px;
			img {
				max-width: 100%;
			}
		}
	}

	#cc-body {
		position: relative;
		min-height: 100px;
		@include transition(all .3s ease);
		&:hover {
			.containerColorTrigger {
				opacity: 1;
				@include transform(translateY(0));
			}
		}

		// Container Background Color
		.containerColorTrigger {
			@include position(absolute, -23px 5px auto auto);
			@include transform(translateY(10px));
			@include size(15px);
			@include transition(all .3s ease);
			opacity: 0;
			&:hover {
				svg {
					opacity: .7;
				}
			}
			svg { 
				cursor: pointer;
				pointer-events: none;
				@include size(100%);
				opacity: .2;
				@include transition(opacity .3s ease);
			}
			input {
				position: absolute;
				top: 0;
				opacity: 0;
			}
		}

		.body-copy {
			padding: 15px;
			margin-top: 10px;
			border: 1px dashed rgba($c-lightGray, .0);
			@include transition(border .3s ease);
		}

		.submission-data {
			padding: 15px;
		}
	}

	#cc-footer {
		.footer-copy {
			padding: 15px;
			margin-top: 10px;
			border: 1px dashed rgba($c-lightGray, .0);
			@include transition(border .3s ease);
		}
	}
}




