.formbuilder {

    .btns {
        display: inline-block;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 12px;
        border-radius: 5px;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
        color: $c-white;
        padding: 12px 18px 10px 19px;
        height: auto;
        background-image: none !important;
        transition: background-color .3s ease;
        @include antialias;
        &:before {
            margin-right: 19px !important;
            font-size: 15px;
        }
        &:hover {
            background-image: none;
        }
        &.btn-info {
            background-color: $c-info;
            &:hover {
                background-color: lighten($c-info, 5);
            }
        }
    }
}