.cmp-tout {
    position: relative;
    font-family: 'Roboto';
    font-size: 14px;
    color: $c-textDarkBlue;
    letter-spacing: $letter-spacing;
    border-radius: $border-radius;
    background-color: $c-white;
    border: 1px solid darken($c-border, 5);
    box-sizing: border-box;
    margin-bottom: 14px;
    @include antialias;

    &.collapsed {
        header {
            border-radius: $border-radius;
            & > .actions .icons.last {
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    &.section-collapsible {
        &:not(.collapsed) {
            .collapser {
                &:after {
                    @include transform(rotate(180deg));
                }
            }
        }
    }

    header {
        border-bottom: 1px solid darken($c-border, 5);
        padding: 15px 20px;
        .tout-title {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .07em;
        }

        &.theme-moss {
            color: $c-white;
            background-color: $c-moss;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            & > .actions {
                .icons {
                    color: $c-white;
                    border-color: lighten($c-moss, 10);
                    &:hover {
                        background-color: lighten($c-moss, 10);
                    }
                    &.last {
                        border-top-right-radius: $border-radius;
                    }
                }
            }
        }
    }

    .actions {
        @include position(absolute, 0 0 auto auto);
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;

        .status {
            @include size(10px);
            margin-right: 20px;
            &.off {
                background-color: $c-danger;
            }
            &.on {
                background-color: $c-success;
            }
        }

        .settings {
            &.icon {
                color: $c-moss;
            }
        }

        .icons {
            display: inline-block;
            padding: 15px 0;
            @include size(48px);
            text-align: center;
            color: $c-moss;
            border-left: 1px solid $c-border;
            box-sizing: border-box;
            &:hover {
                background-color: $c-border;
            }
            &:after {
                font-family: 'Craft';
                speak: none;
                -webkit-font-feature-settings: "liga", "dlig";
                -moz-font-feature-settings: "liga=1, dlig=1";
                -moz-font-feature-settings: "liga", "dlig";
                -ms-font-feature-settings: "liga", "dlig";
                -o-font-feature-settings: "liga", "dlig";
                font-feature-settings: "liga", "dlig";
                text-rendering: optimizeLegibility;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                direction: ltr;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: inline-block;
                text-align: center;
                font-style: normal;
                vertical-align: middle;
                word-wrap: normal !important;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }
        }

        .collapser { &:after { content: '▼'; } }
        .settings { &:after { content: 'settings'; } }
    }



    .body {
        padding: 20px;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        .tout-count {
            font-weight: bold;
        }
        .tout-count-text {
            font-size: 12px;
        }

        &.theme-moss {
            background-color: lighten($c-moss, 50);
        }
    }

    // Theme 
    &.theme-moss {
        background-color: $c-moss;
        color: $c-white;

        header {
            border-color: #6F8996;
        }
    }
}

// Form Settings
.form-settings-tout, .template-settings-tout {
    .body {
        padding: 0;
    }
    .fb-field {
        margin: 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $c-border;
        input.text {
            border-radius: 0;
            border: 0;
            background-color: transparent;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

// Notification Touts
.notification-fields, .message-fields, .plugin-settings-fields {
    padding: 0 !important;
    background-color: $c-white !important;
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 20px;
        .action {
            margin-left: auto;
        }
    }

    .body {
        padding: 0;
    }

    // .settings-item {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     border-bottom: 1px solid $c-border;
    //     padding: 10px 20px;
    //     &:last-child {
    //         border-bottom: none;
    //     }

    //     .settings-title {
    //         font-family: 'Roboto';
    //         font-weight: 500;
    //         color: $c-text;

    //         .settings-result {
    //             font-size: 10px;
    //         }
    //     }

    //     .option-result.multiple {
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         &.has-items {
    //             margin-top: 10px;
    //         }
    //     }

    //     .option-result-actions {
    //         opacity: 0;
    //         visibility: hidden;
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;
    //         @include position(absolute, 0 0 0 0);
    //         @include size(100%);
    //         background-color: rgba(white, .7);
    //         transition: opacity .3 ease;

    //         & > a {
    //             display: flex;
    //             flex: 1;
    //             width: 100%;
    //             height: 100%;
    //             text-align: center;
    //             transition: all .3s ease;
    //             svg { 
    //                 margin: auto;
    //                 vertical-align: middle;
    //             }
    //             &:hover {
    //                 svg * { fill: $c-white; }
    //             }
    //         }

    //         .settings-result-edit {
    //             &:hover {
    //                 background-color: rgba($c-info, .4);
    //             }
    //         }

    //         .settings-result-delete {
    //             &:hover {
    //                 background-color: rgba($c-danger, .4);
    //             }
    //         }
    //     }

    //     .result-item {
    //         position: relative;
    //         padding: 10px 15px;
    //         border: 1px solid $c-border;
    //         margin: 10px 10px 0 0;
    //         @include transition(all .3s ease);
    //         @include transform-origin(center center);

    //         &.zap { 
    //             @include transform(scale(0));
    //         }

    //         code {
    //             display: block;
    //             line-height: 1.4;
    //         }

    //         &:hover {
    //             .settings-result-actions {
    //                 opacity: 1;
    //                 visibility: visible;
    //             }
                
    //         }

    //         .settings-result-actions {
    //             opacity: 0;
    //             visibility: hidden;
    //             display: flex;
    //             flex-direction: row;
    //             align-items: center;
    //             @include position(absolute, 0 0 0 0);
    //             @include size(100%);
    //             background-color: rgba(white, .7);
    //             transition: opacity .3 ease;

    //             & > a {
    //                 display: flex;
    //                 flex: 1;
    //                 width: 100%;
    //                 height: 100%;
    //                 text-align: center;
    //                 transition: all .3s ease;
    //                 svg { 
    //                     margin: auto;
    //                     vertical-align: middle;
    //                 }
    //                 &:hover {
    //                     svg * { fill: $c-white; }
    //                 }
    //             }

    //             .settings-result-edit {
    //                 &:hover {
    //                     background-color: rgba($c-info, .4);
    //                 }
    //             }

    //             .settings-result-delete {
    //                 &:hover {
    //                     background-color: rgba($c-danger, .4);
    //                 }
    //             }
    //         }
    //     }

    //     .settings-action {
    //         display: flex;
    //         flex-direction: row;
    //         margin-left: auto;

    //         .toggle-settings {
    //             background-color: lighten($c-moss, 35);
    //         }

    //         .settings-edit {
    //             display: flex;
    //             align-items: center;
    //             padding: 9px;
    //             &:hover {
    //                 svg * { fill: $c-info; }
    //             }
    //         }
    //     }

    //     &.settings-enabled {
    //         .settings-action {
    //             .toggle-settings {
    //                 background-color: $c-success;
    //             }
    //         }
    //     }
    // }
}
