<h2>{{ "Thank you for your submission."|t }}</h2>
<p>We will get back to you shortly.</p>

{# 
  Form's data is stored in the {{ data }} variabled, you can loop through it if you want
  to display some submission data in this template. Check text.twig for example for loop for data.
  
  Example
  {% for key, value in data %}
    {{ key }}: {{ value }}
  {% endfor %}
 #}
