<div class="option-item {% if form.formSettings.hasFileUploads is defined and form.formSettings.hasFileUploads %}option-enabled{% endif %}" 
    id="option-uploads"
    data-modal="false">
    <span class="option-title">
        <span class="option-text">{{ "File Uploads" |t }} <span class="info">{{ "Will this form upload any files?" |t }}</span></span>
    </span>
    <div class="option-actions">
        <a href="#" class="btns btn-small btn-moss toggle-option" title="{{ "Toggle File Uploads" |t }}">{{ "Enable" |t }}</a>
    </div>
    <input type="hidden" value="1" class="enable-form-option" name="formSettings[hasFileUploads]" {% if form.formSettings.hasFileUploads is defined and form.formSettings.hasFileUploads %}checked{% endif %}>
</div>